DATABASE_URL=postgres://sunready:sunready@localhost:5433/sunready?sslmode=disable
JWT_SECRET=your-secret-key-change-in-production
PORT=8080
ENV=development
LIGHTFUSION_API=http://localhost:8085
LIGHTFUSION_EMAIL=your-lightfusion-email@example.com
LIGHTFUSION_PASSWORD=your-lightfusion-password
TWILIO_FROM=From_Phone_Number
TWILIO_AUTH=Auth_Token_From_twilio
TWILIO_SID=SId_From_Twilio
SENDGRID_API_KEY=Api_KEY_FROM_SENDGRID
SENDGRID_FROM_EMAIL=Sender_MAIL_ADDRESS@example.com
GENABILITY_ID=Project_Id
GENABILITY_KEY=Secret_KEY
